section{
  padding-bottom: 20px;
}
header{
  padding-bottom: 20px;
}
.questions {
  padding-left: 15px;
}
h3{
  border-bottom: solid rgb(210, 224, 123) 1.5px;
}
.submit {
  /* background-color: rgb(179, 238, 242); */
  padding: 10px 20px;
  margin-left: 15px;
}
